<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/products.js"></script>
</head>

<body>
<h1>Products | <a href="/leftovers">Leftovers</a></h1>


<div class="col-lg-7 col-md-7 col-sm-6">
    <form>
        <div class="form-group">
            <label for="product_name">Product Name:</label>
            <input type="text" class="form-control" id="product_name"/>
        </div>
        <div class="form-group">
            <label for="product_brand">Product Brand:</label>
            <input type="text" class="form-control" id="product_brand"/>
        </div>
        <div class="form-group">
            <label for="product_price">Price:</label>
            <input type="text" class="form-control" id="product_price"/>
        </div>
        <div class="form-group">
            <label for="product_quantity">Price:</label>
            <input type="text" class="form-control" id="product_quantity"/>
        </div>
        <button type="submit" class="btn btn-default" id="btn_submit">Add New Product</button>
    </form>
</div>

<div class="col-lg-7 col-md-7 col-sm-6">
    <table id="productsTable" class="display">

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
    <h2><a href="/product/list/xls">View in excel format</a></h2>
</div>


<script type="application/javascript">
    $(document).ready(function () {
        $('#btn_submit').on("click", function (e) {
            e.preventDefault();
            var productName, productPrice;
            productName = $('#product_name').val();
            productBrand = $('#product_brand').val();
            productPrice = $('#product_price').val();
            productQuantity = $('#product_quantity').val();
            if ($.trim(productName) === "") {
                alert("Product name cannot be empty");
            }
            else if ($.trim(productBrand) === "") {
                alert("Product brand cannot be empty");
            }
            else if (!$.trim($.isNumeric(productPrice))) {
                alert("Price must be numeric");
            }
            else if (!$.trim($.isNumeric(productPrice))) {
                alert("Quamtity must be numeric");
            }
            else {
                var data = {};
                data["name"] = productName;
                data["brand"] = productBrand;
                data["price"] = productPrice;
                data["quantity"] = productQuantity;
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/product",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    timeout: 6000,
                    success: function (data) {
                        if (confirm("Product " + data.id + " Saved")) {
                            window.location.reload();
                        }
                    },
                    error:function (data) {
                        if (confirm("Product not saved: " + data)) {
                            window.location.reload();
                        }
                    }
                });
            }
        });

        $('#btn_search').on("click", function (e) {
            e.preventDefault();
            var productName, productPrice;
            productName = $('#product_name').val();
            productBrand = $('#product_brand').val();
        });
    });
</script>
</body>
</html>